<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_pwd" jdbcType="VARCHAR" property="tPwd" />
    <result column="t_sex" jdbcType="CHAR" property="tSex" />
    <result column="t_age" jdbcType="INTEGER" property="tAge" />
  </resultMap>
  <sql id="Base_Column_List">
    id, t_id, t_name, t_pwd, t_sex, t_age
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.entity.User">
    insert into t_user (id, t_id, t_name, 
      t_pwd, t_sex, t_age)
    values (#{id,jdbcType=INTEGER}, #{tId,jdbcType=INTEGER}, #{tName,jdbcType=VARCHAR}, 
      #{tPwd,jdbcType=VARCHAR}, #{tSex,jdbcType=CHAR}, #{tAge,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tId != null">
        t_id,
      </if>
      <if test="tName != null">
        t_name,
      </if>
      <if test="tPwd != null">
        t_pwd,
      </if>
      <if test="tSex != null">
        t_sex,
      </if>
      <if test="tAge != null">
        t_age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tPwd != null">
        #{tPwd,jdbcType=VARCHAR},
      </if>
      <if test="tSex != null">
        #{tSex,jdbcType=CHAR},
      </if>
      <if test="tAge != null">
        #{tAge,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.User">
    update t_user
    <set>
      <if test="tId != null">
        t_id = #{tId,jdbcType=INTEGER},
      </if>
      <if test="tName != null">
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tPwd != null">
        t_pwd = #{tPwd,jdbcType=VARCHAR},
      </if>
      <if test="tSex != null">
        t_sex = #{tSex,jdbcType=CHAR},
      </if>
      <if test="tAge != null">
        t_age = #{tAge,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.User">
    update t_user
    set t_id = #{tId,jdbcType=INTEGER},
      t_name = #{tName,jdbcType=VARCHAR},
      t_pwd = #{tPwd,jdbcType=VARCHAR},
      t_sex = #{tSex,jdbcType=CHAR},
      t_age = #{tAge,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>